@page "/"
@using Microsoft.AspNetCore.SignalR.Client

<h3>Live Temperature Data</h3>
<p>@temperature</p>

@code {
    private string temperature = "Waiting for data...";
    private HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {

            _hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:5216/sensorHub")
            .Build();

        _hubConnection.On<string>("ReceiveTemperature", (data) =>
        {
            temperature = data;
            InvokeAsync(StateHasChanged);
        });
        
	await _hubConnection.StartAsync();

    }
}

